<center> 

# Introduction to Data Science
    
## DataFrames

### Dr. Lange
### Data 118 - Winter 2024 
    
</center>
<center> 
<img src="https://raw.githubusercontent.com/amandakube/Data118LectureImages/main/UChicago_DSI.png" alt="UC-DSI" width="600" height="700">
</center>

In [2]:
# These lines import the Numpy and Pandas modules.
import numpy as np
import pandas as pd

### Last time:

We explored
 - lists
 
 - arrays
 
### Goal for today

 - DataFrames

## Grouping or Storing Data

Recall...

- Lists, Tuples, Sets, Dictionaries (built-in to Python)

- Arrays (found in the NumPy library)

- DataFrames (in Pandas)

## Grouping Data with DataFrames (from the Pandas library)

- Gives rows and columns of data
- Rows are "individuals" or "instances"
- Columns are attributes of those individuals

#### DataFrames


- A DataFrame has an **index** that refers to the rows and **column names** referring to the columns


<center> 
<img src="https://raw.github.com/SusannaLange/Data_118_images/main/images/titanic/titantic_dataframe_markup.png" alt="data_folder" width="600" height="700">
</center>

But how does this differ from 2-dimensional np.array?! Or a higher dimensional list?

### Different objects for different goals

#### Let's store Passenger_ID, Survived, and Name in 3 ways:

##### Method 1: (Using lists from python (no import numpy needed))
- list of lists
- Hard to manipulate

In [3]:
list_of_lists=[[1,2,3],  #passenger ID
               [0,1,1],  #if they survived or not
               ["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"]]   #Name

list_of_lists

[[1, 2, 3],
 [0, 1, 1],
 ['Mr. Owen Harris', 'Mrs. John Bradley', 'Miss. Laina Heikkinen']]

### Different objects for different goals

##### Method 2: (Using np.array)
- All values of same data type
- Easy to do math and matrix manipulations
- No row column names

In [4]:
#This is a 2D array
my_array = np.array([[1,2,3],  #passenger ID
               [0,1,1],  #if they survived or not
               ["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"]]) #name

### Different objects for different goals

##### Method 3: (Using pandas DataFrames)
- Columns can have different types
- Easy to manipulate by name
- row and column names built in!

In [5]:
df = pd.DataFrame(
    { 1:[1,2,3],  #ID
      2:[0,1,1], #if they survived or not
     3:["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"]}) #name

df

   1  2                      3
0  1  0        Mr. Owen Harris
1  2  1      Mrs. John Bradley
2  3  1  Miss. Laina Heikkinen

### In a DataFrame we can specify the column names and indices

In [6]:
df_names = pd.DataFrame(
    { 'PassengerID':[1,2,3],  #ID
      'Survived' :[0,1,1], #if they survived or not
     'Names':["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"]}) #name

df_names

   PassengerID  Survived                  Names
0            1         0        Mr. Owen Harris
1            2         1      Mrs. John Bradley
2            3         1  Miss. Laina Heikkinen

In [7]:
df_names2 = pd.DataFrame(
    { 'PassengerID':[1,2,3],
      'Survived' :[0,1,1], 
     'Names':["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"]},
        index=['a','b','c']) 

df_names2

   PassengerID  Survived                  Names
a            1         0        Mr. Owen Harris
b            2         1      Mrs. John Bradley
c            3         1  Miss. Laina Heikkinen

### Define by rows instead of by columns

In [8]:
df_names3 = pd.DataFrame(
     [[1,2,3],  #ID
      [0,1,1], #if they survived or not
     ["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"]],
        index=['a','b','c'], 
        columns =['PassengerID','Survived', 'Names' ]) #name

df_names3

       PassengerID           Survived                  Names
a                1                  2                      3
b                0                  1                      1
c  Mr. Owen Harris  Mrs. John Bradley  Miss. Laina Heikkinen

In [9]:
df_names4 = pd.DataFrame(
     [[1,0,"Mr. Owen Harris"],  
      [2,1,"Mrs. John Bradley"], 
     [3,1,"Miss. Laina Heikkinen"]],
        index=['a','b','c'], 
        columns =['PassengerID','Survived', 'Names' ]) 

df_names4

   PassengerID  Survived                  Names
a            1         0        Mr. Owen Harris
b            2         1      Mrs. John Bradley
c            3         1  Miss. Laina Heikkinen

## How do we create a DataFrame?

There are a few different methods

 - We have seen:
 ```python 
pd.DataFrame(
    { 1:[1,2,3], 
      2:[0,1,1], 
     3:["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"]})
```
 - and
 ```python 
pd.DataFrame(
    { 'PassengerID':[1,2,3], 
      'Survived' :[0,1,1], 
     'Names':["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"]},
        index=['a','b','c'],)
```

 - We can also define a *series*

So...

 - Python has lists
 - Numpy has arrays
 - and Pandas has series as the *basic* way to store data

 What is a series?

### Pandas series
#### Pandas defines a basic collection data type called a "series" that is analogous to a one dimentional array in numpy.

In [10]:
Name= pd.Series(["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"])
Name

0          Mr. Owen Harris
1        Mrs. John Bradley
2    Miss. Laina Heikkinen
dtype: object

<code style="background:Thistle;color:black">Talk to your neighbor: How is this different than an array? </code>

## We can use series to make DataFrames

In fact, a dataframe is a sequence of aligned series objects
- “aligned” means that they share the same index

In [11]:
Name= pd.Series(["Mr. Owen Harris","Mrs. John Bradley","Miss. Laina Heikkinen"])

df_with_series = pd.DataFrame(
    { 1:[1,2,3], 
      2:[0,1,1], 
     3: Name})

df_with_series

   1  2                      3
0  1  0        Mr. Owen Harris
1  2  1      Mrs. John Bradley
2  3  1  Miss. Laina Heikkinen

#### Series are a bit more flexible than arrays.  For example you can specify your own index for a series, and the indexes don't have to be integers.

In [12]:
passID_with_index2 = pd.Series([1,2,3], index =['Item_1','Item_2','Item_3'])
passID_with_index2

Item_1    1
Item_2    2
Item_3    3
dtype: int64

### We can extract elements from a series!

In [13]:
passID_with_index2[1]

/var/folders/s_/fr0jyz7s5qv1_648_n3yrj940000gn/T/ipykernel_14959/1896639067.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  passID_with_index2[1]

2

In [14]:
passID_with_index2['Item_2']

2

    
np.array:
 - supports integer-based indexing
    
Series:
 - supports both integer- and label-based indexing 
 - performs operations involving the index or location
    
    
“Indexing” is refering to an element of an iterable (series, array, list, ...) by its position within the iterable. “Slicing” is refering to a subset of elements from an iterable (series, array, list, ...) based on their indices.

### One more way to create a DataFrame!

We can read in a file.

In [15]:
titanic_small = pd.read_csv('https://raw.github.com/SusannaLange/Data_118_images/main/images/titanic/titanic_small.csv')
titanic_small

   PassengerId  Survived                       Name
0            1         0     Mr. Owen Harris Braund
1            2         1  Mrs. John Bradley Cumings
2            3         1      Miss. Laina Heikkinen
3            4         0               Mrs. Johnson

We currently have a folder called *data* and a file called *titanic_small.csv*

 
<center> 
<img src="https://raw.github.com/SusannaLange/Data_118_images/main/images/titanic/data_folder.png" alt="data_folder" width="600" height="700">
</center>



<center> 
<img src="https://raw.github.com/SusannaLange/Data_118_images/main/images/titanic/titanic_csv_image.png" alt="data_folder" width="600" height="700">
</center>

We can turn this into a DataFrame by writing:

In [16]:
#pause here...can you read this file in?
titanic_small = pd.read_csv('../data/titanic_small.csv') #This notebook is in a folder, so the ../ 
                                                        #at the beginning denote going up a level
titanic_small

FileNotFoundError: [Errno 2] No such file or directory: '../data/titanic_small.csv'

### Different objects for different goals

Method 1: (Using lists from python (no import numpy needed))
- list of lists
- Hard to manipulate

Method 2: (Using np.array)
- All values of same data type
- Easy to do math and matrix manipulations
- No row column names

Method 3: (Using pandas DataFrames)
- Columns can have different types
- Easy to manipulate by name
- row and column names built in!

### Now we have a DataFrame. What can we do with it?!

### Basic stuff first

In [17]:
titanic_small.head(2)

   PassengerId  Survived                       Name
0            1         0     Mr. Owen Harris Braund
1            2         1  Mrs. John Bradley Cumings

## Some attributes work to tell us the shape and size info

In [ ]:
#We could ask for the shape - dimensions - of the DataFrame
titanic_small.shape

In [ ]:
#We could find how many rows.
#This isn't a method or attribute though....
len(titanic_small)

In [ ]:
titanic_small.columns

In [18]:
#how many rows
len(titanic_small)

4

## How to extract

In [19]:
#We can extract an entire column!
titanic_small['Name']

0       Mr. Owen Harris Braund
1    Mrs. John Bradley Cumings
2        Miss. Laina Heikkinen
3                 Mrs. Johnson
Name: Name, dtype: object

In [20]:
## There is often more than one way to do something
titanic_small.Name

0       Mr. Owen Harris Braund
1    Mrs. John Bradley Cumings
2        Miss. Laina Heikkinen
3                 Mrs. Johnson
Name: Name, dtype: object

In [21]:
#Is this a series or a DataFrame?
type(titanic_small['Name'])

pandas.core.series.Series

What if I wanted to extract as a DataFrame?!

In [22]:
titanic_small[['Name']]

                        Name
0     Mr. Owen Harris Braund
1  Mrs. John Bradley Cumings
2      Miss. Laina Heikkinen
3               Mrs. Johnson

In [23]:
## Can we extract multiple columns?!
titanic_small[['Name', 'Survived']]

                        Name  Survived
0     Mr. Owen Harris Braund         0
1  Mrs. John Bradley Cumings         1
2      Miss. Laina Heikkinen         1
3               Mrs. Johnson         0

## Above extracted columns...What about rows?

In [24]:
#You can also chose rows by slicing
titanic_small[1:3] #starting at index 1 up to and excluding index 3

   PassengerId  Survived                       Name
1            2         1  Mrs. John Bradley Cumings
2            3         1      Miss. Laina Heikkinen

## What did we just say

Basic descriptions of DataFrame:

```python 

dataframe.head()

dataframe.columns

dataframe.shape

len(dataframe)

```

We can use basic extraction to extract an entire column with either of the following:
```python 

dataframe.column_name

dataframe['column_name']
```

We can extract rows with
```python 

dataframe[start:end] # giving us rows [start, end)
```

## Methods
We can perform many *methods* on DataFrames!

What are methods again?!

*Methods* are particular built-in functions that work on objects in python. There are specific methods that work for all DataFrame objects! 

Methods take the form 
```python 
df.method()
```

## Some methods help us clean the data!

In [ ]:
#We could drop a column (or columns) of the data
titanic_small.drop(columns=['PassengerId'])


<code style="background:Thistle;color:black">How would I drop the column 'PassengerId' and the column 'Survived'? </code>

In [ ]:
titanic_small.drop(columns=['PassengerId', 'Survived'])

#### Did any of this change the original DataFrame?!

In [25]:
titanic_small.head(4)

   PassengerId  Survived                       Name
0            1         0     Mr. Owen Harris Braund
1            2         1  Mrs. John Bradley Cumings
2            3         1      Miss. Laina Heikkinen
3            4         0               Mrs. Johnson

In [ ]:
titanic_small.drop(columns=['PassengerId'], inplace = True)
titanic_small
#OR
#titanic_small_clean = titanic_small.drop(columns = []'PassengerId'])

## Or we can rename column names

In [ ]:
titanic_small.head(3)

In [ ]:
titanic_small = titanic_small.rename(columns = {"Name":"Passenger Name"})
titanic_small

### Operations to summarize the data!

In [ ]:
np.mean(titanic_small['Survived'])  #series

In [ ]:
np.mean(titanic_small[['Survived']])  #dataframe

Here's a short list of methods that can be used to determine summative information and/or statistics:

`.min()` - determines the minimum value in a dataframe/series

`.max()` - determines the maximum value in a dataframe/series

`.mean()` - determines the mean value of a dataframe/series

`.median()` - determines the median value in a dataframe/series

`.sum()` - determines the sum of the values in a dataframe/series

`.mode()` - determines the mode of a dataframe/series

`.nlargest()` - determines the largest *n* items in a series. (Default = 5)

`.nsmallest()` - determines the smallest *n* items in a series. (Default = 5)

`.count()` - counts all non-null items in a dataframe/series

`.value_counts` - counts the number of times an item occurs in a dataframe/series

`.nunique()` - counts the number of unique items in a dataframe/series

`.unique()` - lists all of the unique items in a dataframe/series

`.describe` - generates descriptive statistics of a dataframe column, including those that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding null values (NaN).

### <mark style="background-color: Thistle"> Code comprehension: Activity</mark>

Let's load in the bigger Titanic dataset!

In [ ]:
## download the dataset from Canvas and load it in here
titanic_df =

## Question 1: What does the below line of code do?

In [ ]:
#run this line of code
titanic_df.head() #is there a default if the argument is empty?

In [ ]:
#what about this one?
titanic_df.tail()

## Question 2: Print out all the columns in this dataset

In [ ]:
#code here

## Question 3: How many passengers are included in this data?

In [ ]:
#code here

## Question 4: Find the average price of a ticket.

In [ ]:
#code here

## Question 5: Find the average age of a passenger.

In [ ]:
#code here

### Different objects for different goals

Method 1: (Using lists from python (no import numpy needed))
- list of lists
- Hard to manipulate

Method 2: (Using np.array)
- All values of same data type
- Easy to do math and matrix manipulations
- No row column names

Method 3: (Using pandas DataFrames)
- Columns can have different types
- Easy to manipulate by name
- row and column names built in!

## <code style="background:Thistle;color:black">Code Comprehension</code>
Code comprehension:

Q1:What is this going to print?

Q2: Is it a series or dataframe?

```python 
titanic_df['Name']
```

In [ ]:
import pandas as pd
titanic_df = pd.read_csv('../data/titanic.csv')
titanic_df.head()

## Selecting based on label, integer index, and condition

The `.loc[]` method is a label-based selection method that can subset dataframes


This `.iloc[]` method is integer-based (index based) selection method.

In [ ]:
titanic_df.loc[0,'Name'] #row label and column label

In [ ]:
titanic_df.loc[0:2, ['Name', 'Survived']]#rows first, then columns

VS

In [ ]:
titanic_df.iloc[0,3]

In [ ]:
titanic_df.iloc[0:2, 3:5]

### Extract by condition

Dataframes can also be selected based on condition using the `.loc[]` method. 

That is, based on conditions that equate to `True` Boolean values. rows.

In [ ]:
#loc uses the above to keep only those rows that are "True"
titanic_df.loc[titanic_df.Survived == 1]

Let's investigate that more...
```python

titanic_df.loc[titanic_df.Survived == 1]
```

In [ ]:
titanic_df.Survived == 1 #we need double = here bc single = is for assignment

In [27]:
#as usual, there's alternative syntax to do this
titanic_df['Survived'] == 1

NameError: name 'titanic_df' is not defined

In [ ]:
titanic_df.loc[titanic_df['Survived'] == 1]

### These two options produce the same result!

You can choose which one you like best.

```python

titanic_small.loc[titanic_small.Survived == 1]

titanic_small.loc[titanic_small['Survived'] == 1]
```

You can subset on multiple conditions with the use of bitwise operators: 

    & for and
    
    | for or

These perform element-wise logical 'and' 'or' operations

Suppose I am interested in...

I survived the Titanic **or** my class was less than 2.

```python 
(titanic_df.Survived == 1) | (titanic_df.Pclass < 2.0)
```


(It evaluates the truth value of each column of the original DataFrame)

In [ ]:
(titanic_df.Survived == 1) | (titanic_df.Pclass< 2.0)

In [ ]:
titanic_df.loc[(titanic_df.Survived == 1) | (titanic_df.Pclass < 2.0)]

## <code style="background:Thistle;color:black">Code Comprehension</code>

## Sorting rows by values

Another important method to explore the data

using the sort_values method
```python
.sort_values()
```

This method takes the *argument* of how we want to sort the data

In [ ]:
#Default sort is ascending
titanic_df.sort_values(by='Fare')

In [ ]:
#Can override that default if you like
titanic_df.sort_values(by='Fare', ascending=False)

In [ ]:
#You don't have to sort by numeric values...
titanic_df.sort_values(by='Name') #this sorts by alphabetical order

## Let's summarize some of what we've done so far

Some important attributes and methods of DataFrames:

 - .columns
 
 - .shape
 
 - .drop()
 
 - .mean
 
 - sort.values  (by=...)

### We can extract slices of our DataFrame based on 

 - label --------> .loc
 
 - based on index --------> .iloc
 
 - based on condition